language: python

# only one version supported, since travis does not support "after-all": https://github.com/travis-ci/travis-ci/issues/929
python:
- '2.7'

install:
- pip install .
- pip install -r requirements.txt

script: pytest

after_success:
- git config --global user.email "bumpversion-after-ci@example.com"
- git config --global user.name "Bumpversion after CI"
- bumpversion --verbose minor
- chmod 600 travis_deploy_key
- eval `ssh-agent -s`
- ssh-add travis_deploy_key
- git config --global push.default simple
- git remote add deploy $(git remote -v | sed -nre 's#^origin.*https://([^/]*)/([^ ]*) *.*push.*#git@\1:\2#p')
- git push deploy HEAD:master
- python setup.py sdist
- twine upload --config-file .pypirc-guettlibot dist/*

before_install:
- openssl aes-256-cbc -K $encrypted_c096724ab55d_key -iv $encrypted_c096724ab55d_iv -in travis_deploy_key.enc -out travis_deploy_key -d
- openssl aes-256-cbc -K $encrypted_c096724ab55d_key -iv $encrypted_c096724ab55d_iv -in .pypirc-guettlibot.enc -out .pypirc-guettlibot -d
