language: python
python:
- '2.7'
- '3.5'
install:
- pip install .
- pip install -r requirements.txt
script: pytest
after_success:
- git config --global user.email "bumpversion-after-ci@example.com"
- git config --global user.name "Bumpversion after CI"
- bumpversion minor
- chmod 600 travis_deploy_key
- eval `ssh-agent -s`
- ssh-add travis_deploy_key
- git remote -v
before_install:
- openssl aes-256-cbc -K $encrypted_c096724ab55d_key -iv $encrypted_c096724ab55d_iv -in travis_deploy_key.enc -out travis_deploy_key -d
